<form>
  <!--<div class="form-group">-->
  <!--<label for="usr"><h1>Search for best spots near you!</h1></label>-->
  <!--<input type="text" class="form-control" id="usr" value="beer">-->
  <!--</div>-->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for best spots for any type of activity near you such as 'coffee'">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" ng-click="getData()" >
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>

  <div>
    <p>{{ searchResults }}</p>
  </div>
</form>


